@font-face{
    font-family: Outfit;
    src: url(../fonts/Outfit/Outfit-Regular.ttf);
}

@font-face{
    font-family: Outfit;
    src: url(../fonts/Outfit/Outfit-Bold.ttf);
    font-weight: bold;
}

@font-face{
    font-family: Outfit-thin;
    src: url(../fonts/Outfit/Outfit-Thin.ttf);
}

@font-face{
    font-family: Outfit-light;
    src: url(../fonts/Outfit/Outfit-Light.ttf);
}

