@import '../../../../assets/scss/colors.scss';

.navbar {
    height: 100%;
    width:100%;
    background-color: $purple;
}



hr {
    margin:0;
}

.menu__item{
    text-align: center;
    color:$white;
    padding:1em 0;
    cursor: pointer;
}

.menu__item:hover {
    background-color: lighten($color: $purple, $amount: 10);
}