
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$chatter-primary: mat.define-palette(mat.$indigo-palette);
$chatter-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$chatter-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$chatter-theme: mat.define-light-theme((
  color: (
    primary: $chatter-primary,
    accent: $chatter-accent,
    warn: $chatter-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($chatter-theme);

@import "./assets/scss/colors.scss";
@import "./assets/scss/fonts.scss";

html,
body {
    min-height: 100vh;
    height: auto;
    margin: 0;
    font-family: Outfit, Helvetica, sans-serif;
    color: $black;
}

.fullpage__content {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $orange;
}

p {
    padding:0;
}

h1 {
    font-family: Outfit-thin;
}

input {
    height: 3em;
    box-sizing: border-box;
    padding-left: 1em;
}

.input__container {
    position:relative;
}

input[type="text"], input[type="password"]{
    transition: 0.4s;
}

input ~ .input__border {
    position: absolute;
    bottom: 0;
    left: 0;
    width:0;
    height:2px;
    background-color: $purple;
}

input:focus ~ .input__border {
    width: 100%;
    transition: 0.5s;
  }
  

input[type="submit"],input[type="button"] {
    background-image: linear-gradient(45deg, lighten($color: $purple, $amount: 5) 50%, $purple 50%);
    background-size: 250% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease;
    color: white;
    width: 20em;
    font: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
}

input[type="submit"]:hover,input[type="button"]:hover {
    background-position: left top;
}

input,
textarea,
select {
    outline: none;
    border: none;
}

:focus {
    outline: none;
  }

  .register__dialog{
    height:20%;
    width:20%;
}