@import "./assets/scss/colors.scss";
@import "./assets/scss/fonts.scss";

html,
body {
    min-height: 100vh;
    height: auto;
    margin: 0;
    font-family: Outfit, Helvetica, sans-serif;
    color: $black;
}

.fullpage__content {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $orange;
}

p {
    padding:0;
}

h1 {
    font-family: Outfit-thin;
}

input {
    height: 3em;
    box-sizing: border-box;
    padding-left: 1em;
}

.input__container {
    position:relative;
}

input[type="text"], input[type="password"]{
    transition: 0.4s;
}

input ~ .input__border {
    position: absolute;
    bottom: 0;
    left: 0;
    width:0;
    height:2px;
    background-color: $purple;
}

input:focus ~ .input__border {
    width: 100%;
    transition: 0.5s;
  }
  

input[type="submit"] {
    background-image: linear-gradient(45deg, lighten($color: $purple, $amount: 5) 50%, $purple 50%);
    background-size: 250% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease;
    color: white;
    width: 20em;
    font: inherit;
    border: none;
    padding: 0;

    cursor: pointer;
}

input[type="submit"]:hover {
    background-position: left top;
}

input,
textarea,
select {
    outline: none;
    border: none;
}

:focus {
    outline: none;
  }
  